---
---
@import "minima";
@import "comment-styles";

input {
    margin: 12px;
}

textarea {
    margin: 12px;
    padding: -12px;
}

.textfield {
    width: 100%;
}

summary {
    font-size: 125%;
}
