---
---
@import "minima";
@import "comment-styles";

.question {
    background-color: #faebd7;
}

.draft {
    border-radius: 1em;
    background-color: #dd33dd4d;
    padding: 1em;
}

details {
    border-style: solid;
    border-radius: 1em;
    padding: .5em;
    margin-bottom: .5em;
    border-color: grey;
    border-width: thin;
}
